.frhd__post-grid-2 .frhd__date-wrap {
    position: absolute;
    top: -9px;
    left: 15px;
    color: #fff;
    background: #ffc107;
    padding: 20px 20px 10px;
    font-weight: bolder;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 20px;
}
.frhd__post-grid-2 .frhd__date-wrap time:first-child {
    font-size: 32px;
}
.frhd__post-grid-2 .frhd__date-wrap time:last-child {
    font-size: 16px;
}
.frhd__post-grid-2 .frhd__date-wrap:before {
    position: absolute;
    right: -10px;
    top: 0px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #ffc107;
    opacity: .5;
}
.frhd__post-grid-2 .frhd__post-author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
    margin-top: -3px;
}
.frhd__post-grid-2 .frhd__post-author {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}
.frhd__post-grid-2 .frhd__post-excerpt p {
    margin-bottom: 10px !important;
}
.frhd__post-grid-2 .frhd__cat-wrap,
.frhd__post-grid-2 .frhd__post-author {
    color: #497898;
}
.frhd__post-grid-2 .frhd__cat-wrap a {
    color: #ec398b;
}
.frhd__post-grid-2 .frhd__cat-wrap a:hover {
    color: #3813c2
}