/* Reset */
.frhd__post-block-wrapper h2,
.frhd__post-block-wrapper p {
    margin: 0;
	font-size: 100%;
}

/* Conditional Menu */
.frhd__menu-hide {
    display: none !important;
}
.frhd__menu-show {
    display: block;
}

/* Options Style */
.components-panel .components-panel__body-toggle.components-button {
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 7px;
}
.components-panel .components-panel__icon {
    color: #607d8b;
    font-size: 17px;
    line-height: 26px;
}
.wp-block.wp-block-gutenberg-post-view-post-block {
    max-width: 1140px !important;
}
.frhd__category-select-multiple select {
    height: fit-content !important;
	padding: 8px;
}
.frhd__category-select-multiple select option {
	padding: 5px;
}
.frhd__category-select-multiple select option:hover {
    background: #c1c1c1;
}
.frhd__category-select-multiple select option:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}
.frhd__category-select-multiple svg {
    display: none !important;
}
.frhd__global-control .components-input-control__container {
    width: 70px !important;
}
.frhd__global-control .components-number-control:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.frhd__global-control .frhd__number-control-px .components-input-control__container {
    position: relative;
}
.frhd__global-control .frhd__number-control-px .components-input-control__container:after {
    position: absolute;
    right: -18px;
    top: 5px;
    content: "px";
}
.frhd__color-picker strong {
    display: inline-block;
    margin: 15px 0;
}
.frhd__color-picker .components-circular-option-picker:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.frhd__color-picker strong span {
    margin-bottom: -4px;
}
.frhd__color-picker button.components-color-palette__custom-color {
    text-align: center;
}
.frhd__alignment-options .components-panel__icon {
    font-size: 25px;
    line-height: 22px;
    margin-left: 4px;
    margin-right: 4px;
}
.frhd__typography-options .components-panel__icon {
    font-size: 24px;
    line-height: 24px;
    margin-left: 3px;
    margin-right: 3px;
    color: #55717e;
}
.frhd__typography-options .components-input-control__container {
    width: 70px;
}
.frhd__typography-options .components-unit-control-wrapper {
    margin: 15px 0;
}
.frhd__typography-options .components-input-control__label {
    font-size: 14px;
}

.frhd__typography-options .components-unit-control__select,
.frhd__typography-options .components-unit-control__select option,
.frhd__global-control .components-unit-control__select,
.frhd__global-control .components-unit-control__select option {
    font-size: 11px !important;
    width: 25px !important;
}
.frhd__global-control .components-unit-control-wrapper {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.frhd__query-control .components-heading.frhd__pb-heading {
    margin-bottom: 5px;
}
.frhd__query-control .frhd__pb-unitcontrol {
    margin-bottom: 20px;
}
.frhd__query-control .frhd__pb-unitcontrol .components-input-control__container {
    width: 70px;
}

/* Post View Styles Missing */
.frhd__post-block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 15px;
    row-gap: 20px;
}
.frhd__post-title {
    margin-bottom: 10px;
}
.frhd__post-title h2 {
    line-height: 0 !important;
}
.frhd__post-title a {
    display: inline-block;
    font-size: 22px !important;
    line-height: 28px;
    font-weight: 500;
    color: #371f0e;
}
.frhd__post-btn a {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #fff !important;
    background: linear-gradient(60deg, #ef5350, #d32f2f);
    padding: 1px 10px !important;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid transparent;
}
.frhd__post-btn a:hover {
    border-color: #fff;
}
.frhd__post-excerpt p {
    font-size: 19px;
    line-height: 24px;
    color: #4b4f58;
    margin-bottom: 20px;
}
.frhd__post-meta {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-transform: capitalize;
}
.frhd__post-meta,
.frhd__post-meta a {
    color: #424242;
}
.frhd__article-body {
    padding: 20px !important;
    padding-top: 0;
}
.frhd__cat-wrap {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 3px;
}
span.frhd__cat-name a {
    display: inline-block;
    text-decoration: none;
    background: #ffc107;
    color: #000;
    font-size: 14px;
    padding: 1px 9px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}
span.frhd__cat-name a:hover {
    border-color: transparent;
}
.frhd__post-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frhd__reading-time {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    color: #ef5350;
}
.frhd__reading-time svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: #d32f2f;
}

/* Typography Fields */
.components-panel__body.frhd__panel-inside {
    max-width: 220px;
    background: rgb(240 248 255 / 50%);
    border: 1px solid #e0e0e0;
    margin: 0 auto 5px;
}