/* Reset */
.frhd__post-block-main a {
    text-decoration: none !important;
}

/* Main Block */
.frhd__post-block-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 15px;
    row-gap: 20px;
}
.frhd__post-block-wrap {
    flex-basis: calc(100% / 3 - 15px);
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.frhd__post-title h2 {
    line-height: 0;
    margin-bottom: 15px;
}
.frhd__post-title a {
    display: inline-block;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #371f0e;
}
.frhd__post-excerpt p {
    font-size: 19px;
    line-height: 24px;
    color: #4b4f58;
}
.frhd__featured-image {
    margin-bottom: 20px;
}
.frhd__featured-image img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.frhd__post-title {
    margin-bottom: 5px;
}
.frhd__paginate .page-numbers {
    display: inline-block;
    background: #d32f2f;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.frhd__paginate .page-numbers.current {
    background: #c1c1c1;
    box-shadow: 0 0;
}
.frhd__paginate .page-numbers:hover {
    box-shadow: 0 0;
}
.frhd__post-meta {
    font-size: 16px;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-transform: capitalize;
    color: #424242;
}
.frhd__post-meta svg {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    margin-right: 5px;
    fill: #424242;
}
.frhd__featured-image {
    position: relative;
}
.frhd__article-body {
    padding: 20px;
    padding-top: 0;
}
.frhd__reading-time {
    margin-right: 20px;
    font-size: 14px;
    color: #ef5350;
}
.frhd__reading-time svg {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
    margin-right: 5px;
    fill: #d32f2f;
}
.frhd__user-react svg {
    width: 20px;
    height: 20px;
    fill: #9e9e9e;
}
.frhd__user-react {
    position: absolute;
    top: 10px;
    right: 10px;
}
.frhd__user-react:hover svg {
    fill: #d32f2f;
    cursor: pointer;
}
.frhd__user-react-love {
    fill: #d32f2f !important;
}
@media (max-width: 638px) {
    .frhd__post-block-wrap {
        flex-basis: calc(100% / 2 - 8px);
    }
    .frhd__post-block-main {
        column-gap: 15px;
        row-gap: 15px;
    }
}
@media (max-width: 419px) {
    .frhd__post-block-wrap {
        flex-basis: calc(100% / 1);
    }
    .frhd__post-block-main {
        padding: 0 10px;
    }
}